/* reset */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* main-styling */
html, body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   line-height: 1.7em;
}

a {
   color: #333;
   text-decoration: none;
}

h1, h2, h3 {
   padding-bottom: 20px;
}

p {
   margin: 10px 0;
}

/* utilities */
.container {
   margin: auto;
   max-width: 1100px;
   overflow: auto;
   padding: 0 20px;
}

.primary-text {
   color: #f7c08a;
}

.lead {
   font-size: 20px;
}

.bg-dark {
   background: #333;
   color: #fff;
}

.bg-light {
   background: #f4f4f4;
   color: #333;
}

.bg-primary {
   background: #f7c08a;
   color: #333;
}

.clr {
   clear: both;
}

.l-heading {
   font-size: 40px;
}

/* padding */
.py-1 {padding: 10px 0;}
.py-2 {padding: 20px 0;}
.py-3 {padding: 30px 0;}

/* navbar */
#navbar {
   background: #333;
   color: #fff;
   overflow: auto;
}

#navbar a {
   color: #fff;
}

#navbar h1 {
   float: left;
   padding-top: 20px;
}

#navbar ul {
   list-style: none;
   float: right;
}

#navbar ul li {
   float: left;
}
 
#navbar ul li a {
   display: block;
   padding: 20px;
   text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
   background: #444;
   color: #f7c08a;
}

/* showcase */
#showcase {
   background: url('../photo/background.jpg') no-repeat center center/cover;
   height: 520px;
}

#showcase .showcase-content {
   color: #fff;
   text-align: center;
   padding-top: 80px;
}

#showcase .showcase-content h1 {
   font-size: 60px;
   line-height: 1.2em;
   
}

#showcase .showcase-content p {
   padding-bottom: 20px;
   padding-top: 20px;
   line-height: 1.7em;
}

/* Profile Info */
#home-info {
   height: 500px;
}
#home-info .info-img {
   float: left;
   width: 50%;
   background: url('../photo/IMG-4219.JPG') no-repeat center center/cover;
   min-height: 100%;
   border-radius: 50%;
}

#home-info .info-content {
   float: right;
   width: 50%;
   text-align: center;
   min-height: 100%;
   padding: 20px 30px;
   overflow: hidden;
}

#home-info .info-content p {
   padding-bottom: 20px;
}

/* features */
.box {
   float: left;
   width: 100%;
   padding: 50px;
   text-align: center;
}

.box p {
   text-align: justify;
}

.box i {
   margin-bottom: 10px;
}

.box2 {
   float: left;
   width: 33.33%;
   padding: 50px;
   text-align: center;
}

.box2 p {
   text-align: center;
}

.box2 i {
   margin-bottom: 10px;
}

.box2 a {
   color: #ddd;
}

/* JobAd Section */
#ideal-info .info-right {
   float: right;
   width: 50%;
   min-height: 100%;
}

#ideal-info .info-right img {
   display: block;
   margin: auto;
   width: 70%;
   border-radius: 0;
}

#ideal-info .info-left {
   float: left;
   width: 50%;
   min-height: 100%;
}

/* Ideal Job Section */
#advertisement {
   height: 1200px;
   background: url('/photo/download.jpg') no-repeat center center/cover;
   padding-top: 50px;
   /*Background photo from: https://www.youtube.com/watch?v=9etrOEwgABs */
}

#advertisement h2 {
   text-align: center;
   color: #fff;
   padding-bottom: 30px;
}

#advertisement h3 {
   text-align: center;
   color: #444;
   padding: 10px;
}

#advertisement .advertisement {
   padding: 70px;
   margin-bottom: 10px;
   border-radius: 5px;
   opacity: 0.9;
}

/* test page */
.box {
   float: left;
   width: 100%;
   padding: 50px;
   text-align: center;
}

.box p {
   text-align: justify;
}



/* contact page */
/* contact form */
#contact-form .form-group {
   margin-bottom: 20px;
}

#contact-form label {
   display: block;
   margin-bottom: 5px;
}

#contact-form input, 
#contact-form textarea {
   width: 100%;
   padding: 10px;
   border: 1px #ddd solid;
}

#contact-form textarea {
   height: 200px;
}

#contact-form input:focus, 
#contact-form textarea:focus {
   outline: none;
   border-color: #f7c08a;
}

#project-content h1 {
   padding-top: 20px;
   padding-bottom: 40px;
}

#project-content h2 {
   padding-bottom: 10px;
}

#project-content p {
   padding-bottom: 20px;
   text-align: justify;
}

/* main footer */
#main-footer {
   text-align: center;
   background: #444;
   color: #fff;
   padding: 20px;
}